* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  /*background-image: url(background-image2.jpeg);*/
  background-color: #0a192f;
  background-repeat: no-repeat;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
}

h2,
label,
address {
  color: #ccd6f6;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
}

h3 {
  color: #ccd6f6;
}
.intro {
  color: #50d8b8;
}

.name {
  color: #ccd6f6;
  font-size: 50px;
  font-weight: 900;
}

.main {
  position: relative;
  width: 10%;
  padding: 10px;
  font-size: 15px;
  top: 10px;
  left: 90%;
}

li.live {
  margin-left: -40px;
  float: left;
}

.fa-user {
  color: #50d8b8;
}

.image1 {
  width: 230px;
  margin-left: 32%;
  border-radius: 5px;
}

p {
  color: #384860;
}
.a-of-portfolio,
.portfolio-ps,
.portfolio-course-Ps {
  color: #ccd6f6;
}

.Ps {
  height: 100px;
  text-align: justify;
  line-height: 25px;
}

.portfolio-course-Ps {
  margin-top: -15px;
}

.flexcontainer {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2%;
}

.flexcontainer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.About1,
.About2,
.About3 {
  width: 30%;
}

.Aboutme,
.projects {
  text-align: center;
  margin-top: 20px;
}

.project-container {
  position: relative;
}

.buttom-center {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
}

.introduction,
.imagediv {
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 20px 20px;
}
.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  color: #50d8b8;
  font-size: 16px;
  background: transparent;
  padding: 15px 20px;
  margin: 25px auto;
  border-radius: 30px;
  border: 1px solid #50d8b8;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.flexcontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.images {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  opacity: 0.5;
}

.courselist,
.skills {
  font-family: Poppins, sans-serif;
  font-size: 100%;
}

.contactdiv,
.course,
.additonal {
  width: 30%;
  margin-top: 60px;
  height: 450px;
}

.inputcomment {
  width: 80%;
  padding: 10px;
  border: 1px solid rgb(25, 25, 88);
  border-radius: 5px;
  outline-style: none;
  color: #384860;
  font-size: 100%;
}

.input1,
.email {
  width: 80%;
  padding: 10px;
  border: 1px solid rgb(25, 25, 88);
  outline-style: none;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #384860;
  font-family: Poppins, sans-serif;
  font-size: 100%;
}

.submit {
  border: 1px solid #50d8b8;
  border-radius: 5px;
  width: 22%;
  height: 30px;
  margin-bottom: 10px;
  color: #50d8b8;
  background-color: #0a192f;
}

ul.courselist,
ul.skills {
  color: #384860;
  list-style: square;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footerp {
  text-align: center;
}

ul.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

a.icons {
  color: #50d8b8;
  padding: 10px;
  margin: 0%;
}

/*Tablet styles (max-width: 768px) Mobile styles (max-width: 414px) */
@media only screen and (max-width: 720px) {
  .flexcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactdiv,
  .additonal,
  .course {
    width: 100%;
    margin-top: 0px;
    height: 340px;
    padding: 0px 20px 20px 20px;
  }
  .contactdiv {
    height: 380px;
  }
  .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .introduction,
  .imagediv {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .image1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding-bottom: 10px;
  }

  p {
    font-size: 100%;
  }
  .icons {
    margin-top: 0px;
  }

  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 100%;
  }
  .button1 {
    width: 35%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .main {
    margin-left: -40px;
  }
  h3,
  h2 {
    margin-top: -15px;
    text-align: center;
  }
  .footer {
    height: 70px;
  }
  form {
    text-align: center;
  }
  .input1,
  .email,
  .inputcomment {
    width: 90%;
  }
  .flexcontainer3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }
  .About1,
  .About2,
  .About3 {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 20px 20px;
  }
  .introduction p {
    text-align: center;
  }
}
