body {
  /*background-image: url(background-image2.jpeg);*/
  background-color: rgb(2, 2, 48);
  background-repeat: no-repeat;
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-family: Poppins, sans-serif;
}
.main {
  margin: 0 auto 100px;
  padding: 10px;
  max-width: 1200px;
}
ul {
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
  color: yellow;
  float: right;
  margin-top: -12px;
  margin-left: 50px;
}

.fa-moon {
  margin-top: 0%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 40px;
}

.fa-user {
  float: left;
}

li.moon {
  width: 50%;
}
.dark-mode {
  background-color: black;
}

.image1 {
  width: 230px;
  margin-left: 32%;
  border-radius: 5px;
}

p {
  text-align: justify;
  color: #b4b4e4;
  line-height: 25px;
}

.Ps {
  height: 150px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2%;
}

.flexcontainer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.About1,
.About2,
.About3 {
  width: 30%;
}
.Aboutme {
  text-align: center;
}
.introduction,
.imagediv {
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 20px 20px;
}
h1 {
  color: yellow;
  font-size: 1.7rem;
  padding: 0px 20px 20px 20px;
}

.button1 {
  width: 25%;
  color: black;
  background-color: blue;
  height: 50px;
  box-shadow: 3px 3px 3px 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 5% 0 20% 0;
}

h2,
label,
address {
  color: #b4b4e4;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
}

.flexcontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.images {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
.contactdiv,
.course,
.additonal {
  width: 30%;
  margin-top: 100px;
  height: 450px;
}

.courselist,
.skills {
  font-family: Poppins, sans-serif;
  font-size: 100%;
}

.inputcomment {
  width: 80%;
  padding-bottom: px;
  border: 1px solid rgb(25, 25, 88);
  border-radius: 5px;
  outline-style: none;
  background-color: rgb(2, 2, 48);
  color: #b4b4e4;
}

.input1,
.email {
  width: 80%;
  padding: 10px 0 10px 0;
  border: 1px solid rgb(25, 25, 88);
  outline-style: none;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: rgb(2, 2, 48);
  color: #b4b4e4;
  font-family: Poppins, sans-serif;
  font-size: 100%;
}

.submit {
  background-color: blue;
  border: none;
  border-radius: 5px;
  width: 22%;
  height: 30px;
  margin-bottom: 10px;
}

ul.courselist li {
  padding-top: 15px;
  color: #b4b4e4;
  list-style: square;
}

ul.skills li {
  padding-top: 15px;
  color: #b4b4e4;
  list-style: square;
}
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.footerp {
  text-align: center;
  color: #b4b4e4;
}
ul.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
a.icons {
  color: yellow;
  padding: 10px;
  margin: 0%;
}

/*Tablet styles (max-width: 768px) Mobile styles (max-width: 414px) */
@media only screen and (max-width: 720px) {
  .flexcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactdiv,
  .additonal,
  .course {
    width: 100%;
    margin-top: 0px;
    height: 340px;
    padding: 0px 20px 20px 20px;
  }
  .contactdiv {
    height: 380px;
  }
  .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .introduction,
  .imagediv {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .image1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding-bottom: 10px;
  }
  h1 {
    font-size: medium;
    text-align: center;
  }
  p {
    font-size: 100%;
  }
  .icons {
    margin-top: 0px;
  }

  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 100%;
  }
  .button1 {
    width: 35%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a {
    margin-top: -12px;
    margin-left: 10px;
  }
  ul.main {
    margin-left: -40px;
  }
  h3,
  h2 {
    margin-top: -15px;
    text-align: center;
  }
  .footer {
    height: 70px;
  }
  form {
    text-align: center;
  }
  .input1,
  .email,
  .inputcomment {
    width: 90%;
  }
  .flexcontainer3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }
  .About1,
  .About2,
  .About3 {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 20px 20px;
  }
  .introduction p {
    text-align: center;
  }
}
